{% extends 'base.html.twig' %}

{% block title %}Товар{% endblock %}

{% block body %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Товар</h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="{{ url('app_main') }}">Главная</a></li>
                        <li class="breadcrumbs-item"><a href="{{ url('app_catalog') }}">Каталог</a></li>
                        {% if product.section is not null %}
                            {% if product.section.parent is not null %}
                                <li class="breadcrumbs-item">
                                    <a href="{{ url('app_catalog') }}">{{ product.section.parent.name }}</a>
                                </li>
                            {% endif %}
                            <li class="breadcrumbs-item">
                                <a href="{{ url('app_catalog') }}">{{ product.section.name }}</a>
                            </li>
                        {% endif %}
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>{{ product.name }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <div class="Product">
                    <div class="ProductCard">
                        <div class="ProductCard-look">
                            <div class="ProductCard-photo">
                                {% if (product.action is not null) and product.action.until > "now" | date %}
                                    <div class="ProductCard-sale">-{{ product.action.discount }}%
                                    </div>
                                {% endif %}
                                <img src="{{ absolute_url('../img/content/home/'~product.picture) }}"
                                     alt="{{ product.picture }}"/>
                            </div>
                            <div class="ProductCard-picts">
                                <a class="ProductCard-pict ProductCard-pict_ACTIVE"
                                   href="{{ absolute_url('../img/content/home/'~product.picture) }}">
                                    <img src="{{ absolute_url('../img/content/home/'~product.picture) }}"
                                         alt="{{ product.picture }}"/>
                                </a>
                                {% for picture in product.pictures %}
                                    <a class="ProductCard-pict ProductCard-pict_ACTIVE"
                                       href="{{ absolute_url('../img/content/home/'~picture.link) }}">
                                        <img src="{{ absolute_url('../img/content/home/'~picture.link) }}"
                                             alt="{{ picture.link }}"/>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="ProductCard-desc">
                            <div class="ProductCard-header">
                                <h2 class="ProductCard-title">{{ product.name }}</h2>
                                <div class="ProductCard-info">
                                    <div class="ProductCard-cost">
                                        {% set avg = product.prices | avg_price %}
                                        {% if (product.action is not null) and product.action.until > "now" | date %}
                                            <div class="ProductCard-price">{{ (avg - product.action.discount * avg/100) | end_cost }}</div>
                                            <div class="ProductCard-priceOld">{{ avg | end_cost }}</div>
                                        {% else %}
                                            <div class="ProductCard-price">{{ avg | end_cost }}</div>
                                        {% endif %}


                                    </div>
                                    <div class="ProductCard-compare">
                                        <a class="btn btn_default" href="#">
                                            <img class="btn-icon" src="{{ asset('assets/img/icons/card/change.svg') }}"
                                                 alt="change.svg"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="ProductCard-text">
                                <ul>
                                    <li>{{ product.shortDescription }}</li>
                                </ul>
                            </div>
                            <div class="ProductCard-cart">
                                <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                                    <div class="Amount Amount_product">
                                        <button class="Amount-remove" type="button"></button>
                                        <input class="Amount-input form-input" name="amount" type="text" value="1"/>
                                        <button class="Amount-add" type="button"></button>
                                    </div>
                                </div>
                                <div class="ProductCard-cartElement">
                                    <a class="btn btn_primary" href="#">
                                        <img class="btn-icon"
                                             src="{{ absolute_url('../assets/img/icons/card/cart_white.svg') }}"
                                             alt="cart_white.svg"/>
                                        <span class="btn-content">Купить</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Tabs Tabs_default">
                        <div class="Tabs-links">
                            <a class="Tabs-link_ACTIVE Tabs-link" href="#description"><span>Описание</span></a>
                            <a class="Tabs-link"
                               href="#sellers"><span>Продавцы ({{ product.prices | length }})</span></a>
                            <a class="Tabs-link" href="#addit"><span>Характеристики</span></a>
                            <a class="Tabs-link" href="#reviews"><span>Отзывы ({{ product.feedback|length }})</span></a>
                        </div>
                        <div class="Tabs-wrap">
                            <div class="Tabs-block" id="description">
                                <h2>{{ product.name }}</h2>
                                <p>{{ product.description }}
                                </p><img class="pict pict_right"
                                         src="{{ absolute_url('../img/content/home/'~product.picture) }}"
                                         alt="bigGoods.png"/>
                                <div class="clearfix">
                                </div>
                                <div class="table">
                                    <table>
                                        <tr>
                                            <th>Табличка внутри описания</th>
                                            <th>Значение
                                            </th>
                                        </tr>
                                        {% for property in product.productProperties %}
                                            <tr>
                                                <td>{{ property.property.name }}</td>
                                                <td>{{ property.value }} {{ property.property.unit.unit }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="2">Свойств не обнаружено</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>

                            <div class="Tabs-block" id="sellers">
                                <div class="Categories Categories_product">
                                    {% for price in product.prices %}
                                        <div class="Categories-row">
                                            <div class="Categories-block Categories-block_info">
                                                <div class="Categories-info">
                                                    <strong>{{ price.seller.name }}</strong>
                                                </div>
                                            </div>
                                            <div class="Categories-splitProps"></div>
                                            <div class="Categories-block Categories-price">
                                                <strong>{{ price.price | end_cost }}</strong>
                                            </div>
                                            <div class="Categories-block Categories-button">
                                                <a class="btn btn_primary" href="">
                                                    <img class="btn-icon"
                                                         src="{{ absolute_url('../img/icons/card/cart_white.svg') }}"
                                                         alt="cart_white.svg"/>
                                                    <span class="btn-content">Купить</span>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>

                            <div class="Tabs-block" id="addit">
                                <div class="Product-props">
                                    {% for property in product.productProperties %}
                                        <div class="Product-prop">
                                            <strong>{{ property.property.name }}</strong>
                                            <span>{{ property.value }} {{ property.property.unit.unit }}</span>
                                        </div>
                                    {% else %}
                                        <div class="Product-prop"><strong>Свойств не найдено</strong></div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="Tabs-block" id="reviews">
                                <div class="Comments">

                                    {% for feedback in product.feedback %}
                                        {% if feedback.publishedAt is not null %}
                                            <div style="margin-bottom: 1rem;">
                                                <div class="Comment">
                                                    <div class="Comment-column Comment-column_pict">
                                                        <div class="Comment-avatar">
                                                        </div>
                                                    </div>
                                                    <div class="Comment-column">
                                                        <header class="Comment-header">
                                                            <div>
                                                                <strong class="Comment-title">{{ feedback.user.name }}</strong>
                                                                <span class="Comment-date">{{ feedback.createdAt |format_date(locale='ru', pattern="HH':'mm' - 'd' 'MMMM' 'yyyy") }}</span>
                                                            </div>
                                                        </header>
                                                        <div class="Comment-content">
                                                            {{ feedback.text | markdown_to_html }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                                <header class="Section-header Section-header_product">
                                    <h3 class="Section-title">Оставить отзыв</h3>
                                </header>
                                <div class="Tabs-addComment">

                                    {{ form_start(form, {'attr':{'class':'form'}}) }}
                                    <div class="form-group">
                                        {{ form_widget(form.text) }}
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="row-block">
                                                {{ form_widget(form.name) }}
                                            </div>
                                            <div class="row-block">
                                                {{ form_widget(form.email) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn_muted" type="submit">Оставить отзыв</button>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}