<div class="Order Order_anons">
    <div class="Order-personal">
        <div class="row">
            {% if order is not null %}
                <div class="row-block">
                    <a class="Order-title" href="oneorder.html">Заказ&#32;<span
                                class="Order-numberOrder">№{{ order.id }}</span>&#32;от&#32;<span
                                class="Order-dateOrder">{{ order.createdAt|date('d.m.Y') }}</span></a>
                    {% if history is defined %}
                        <div class="Account-editLink"><a
                                    href="{{ url('app_user_order_history') }}">История
                                заказов</a>
                        </div>
                    {% endif %}
                </div>
                <div class="row-block">
                    <div class="Order-info Order-info_delivery">
                        <div class="Order-infoType">Тип доставки:
                        </div>
                        <div class="Order-infoContent">
                            {% if order.delivery_by is not null %}
                                {{ order.delivery_by }}
                            {% else %}
                                Не выбран
                            {% endif %}
                        </div>
                    </div>
                    <div class="Order-info Order-info_pay">
                        <div class="Order-infoType">Оплата:
                        </div>
                        <div class="Order-infoContent">
                            {% if order.pay_by is not null %}
                                {{ order.pay_by }}
                            {% else %}
                                Не выбран
                            {% endif %}
                        </div>
                    </div>
                    <div class="Order-info">
                        <div class="Order-infoType">Общая стоимость:
                        </div>
                        <div class="Order-infoContent">{{ order.sum | end_cost }}
                        </div>
                    </div>
                    <div class="Order-info Order-info_status">
                        <div class="Order-infoType">Статус:
                        </div>
                        <div class="Order-infoContent">
                            {% if order.status is not null %}{{ order.status }}
                            {% else %}Не определен
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row-block">
                    <span class="Order-numberOrder">Заказов не найдено</span>
                </div>
            {% endif %}
        </div>
    </div>
</div>